body {
    color: wheat;
    background-color: slategray;
    text-align: center;
}

/* Add Player Form */
#addPlayersForm {
    #lengthError {
        color: #ff0000;
        display: none;
    }
    
    #charError {
        color: #ff0000;
        display: none;
    }

    #existsError {
        color: #ff0000;
        display: none;
    }
    
    #noError {
        display: block;
    }

    #playerNameInput {
        outline: none;
    }
    
    .error {
            border: 1px solid #ff0000 !important;
            background-color: #ffb2b2;
    }
}


/* Scorboard */
table {
    width: 100%;

    #idplayer {
        text-align: left;
        float: left;
        margin-left: 30%;
    }

    #idscore {
        text-align: right;
        float: right;
        margin-right: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .playerList {
         #idplayer {
            text-align: left;
            float: left;
            margin-left: 10%;
        }
    
        #idscore {
            text-align: right;
            float: right;
            margin-right: 10%;
        }
    }

}