body {
    color: wheat;
    background-color: slategray;
    text-align: center;
    font-size: 18px; /* Prevents auto-zoom */
}

/* Add Player Form */
#addPlayersForm {
    #addButton {
        height: 50px;
        font-size: large;
        border: none;
        border-radius: 5px;
        background-color: #3b595c;
        color: rgb(210, 210, 210);
    }
    
    #playerNameInput {
        height: 50px;
        font-size: large;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #3b595c;
        color: rgb(210, 210, 210);
    }

    ::placeholder {
        color: slategray;
        vertical-align: bottom;
    }

    #lengthError {
        color: #ff0000;
        display: none;
    }
    
    #charError {
        color: #ff0000;
        display: none;
    }

    #existsError {
        color: #ff0000;
        display: none;
    }
    
    #noError {
        display: block;
    }
    
    .error {
            background-color: #5c3b3b !important;
    }
}


/* Scorboard */
table {
    width: 100%;

    #idplayer {
        text-align: left;
        float: left;
        margin-left: 30%;
    }

    #idscore {
        text-align: right;
        float: right;
        margin-right: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .playerList {
         #idplayer {
            text-align: left;
            float: left;
            margin-left: 10%;
        }
    
        #idscore {
            text-align: right;
            float: right;
            margin-right: 10%;
        }
    }

}

/* Player Cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #354f52;
    color: wheat;
    /* width: 14.6%; */
    float: left;
    margin: 1%;
    height: 190px;
    width: 190px;
    position: relative;

    .num {
        font-size: 250%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        width: 100%;
        height: 30%;
        /* font-weight: bold; */
        /* display: inline-block; */
        justify-content: center;
        align-items: center;
        display: flex;

        .scoreButton {
            width: 25%;
            height: 60%;
            margin: 2%;
            font-weight: bolder;
            font-size: large;
            border: none;
            border-radius: 5px;
            background-color: rgb(210, 210, 210);
            color: #3b595c;
        }

        #neg {
            color: #5c3b3d;
        }

        #pos {
            color: #3b5c46;
        }
    }

    .cardStock {
        height: 30%;
        width: 100%;
        background-color: rgb(210, 210, 210);
        color: #354f52;
        border-radius: 5px;
        font-weight: bold;
        font-size: larger;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #3b595c;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}


@media screen and (max-width: 900px) {
    .card {
        width: 23%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width: 350px) {
    .card {
        width: 100%;
    }
}